Package: com.icrackiphone.MetallicaThemeforBetterPowerDown
Name: Metallica Theme for Better Power Down
Version: 1.2
Section: Themes
Maintainer: icrackiphone <customjblogos@gmail.com>
Depends: winterboard
Architecture: iphoneos-arm
Description: This is a Metallica theme for the tweak Better Power Down. Just email or iMessage me requests at customjblogos@gmail.com.
Author: icrackiphone <customjblogos@gmail.com> 




