Package: com.icrackiphone.DieHappyJellyLock
Name: Die Happy JellyLock
Version: 1.2
Section: Themes
Maintainer: icrackiphone <customjblogos@gmail.com>
Depends: winterboard
Architecture: iphoneos-arm
Description: This is a die happy theme for JellyLock7. See screenshots below. Just email or iMessage me requests at customjblogos@gmail.com.
Author: icrackiphone <customjblogos@gmail.com>


