Package: com.icrackiphone.SkrillexSlider
Name: Skrillex Slider
Version: 1.2
Section: Themes
Maintainer: customjblogos <customjblogos@gmail.com>
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: This is a Skrillex slider for 7.1.x ONLY! Just email or iMessage me requests at customjblogos@gmail.com.
Author: icrackiphone <customjblogos@gmail.com> 




