Package: com.icrackiphone.FlamingAppleRespringLogo
Name: Flaming Apple Respring Logo
Version: 1.2
Section: Themes
Maintainer: icrackiphone <customjblogos@gmail.com>
Depends: winterboard
Architecture: iphoneos-arm
Description: This is a flaming apple respring logo. Looks best with the black background. Just email or iMessage me requests at customjblogos@gmail.com.
Author: icrackiphone <customjblogos@gmail.com> 




