Name: JellyLock fix for 7.1.x
Package: com.icrackiphone.jellylockfix
Version: 2.0
Depends: mobilesubstrate, firmware (>= 7.1)
Architecture: iphoneos-arm
Description: Fixes JellyLock moving on 7.1.x. Just email or iMessage me requests at customjblogos@gmail.com.
Maintainer: icrackiphone <customjblogos@gmail.com>
Author: icrackiphone <customjblogos2gmail.com>
Section: Tweaks

