Package: com.myrepospace.customjblogs.iOS7SignalDots
Name: iOS 7 Signal Dots
Version: 5.6
Section: Addons (Zeppelin)
Maintainer: customjblogos <customjblogos@gmail.com>
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: iOS 7 Signal Dots for the iPod Touch 5th Gen or iPhone without service running iOS7, also looks good on iPod Touch 4th Gen or older iPhone without service with the iOS 7 theme. Also compatible with iPad. Just email or iMessage me requests at customjblogos@gmail.com.
Author: customjblogos <customjblogos@gmail.com> 




