Package: com.icrackiphone.MetallicaJellylock7
Name: Metallica Jellylock7
Version: 1.5
Section: Themes
Maintainer: customjblogos <customjblogos@gmail.com>
Depends: winterboard
Architecture: iphoneos-arm
Description: This is a Metallica theme for the LS tweak Jellylock7. Includes black, blue, green, orange, purple, red, white, pink, and yellow themes. Just email or iMessage me requests at customjblogos@gmail.com.
Author: icrackiphone <customjblogos@gmail.com>


