Package: com.icrackiphone.MetallicaKeypad
Name: Metallica Keypad
Version: 1.1
Section: Themes
Maintainer: customjblogos <customjblogos@gmail.com>
Depends: winterboard
Architecture: iphoneos-arm
Description: This changes the passcode screen buttons into the cool little Metallica symbol. Just email or iMessage me requests at customjblogos@gmail.com.
Author: icrackiphone <customjblogos@gmail.com>


