Package: com.icrackiphone.MetallicaLockGlyph
Name: Metallica LockGlyph
Version: 1.0
Section: Themes
Maintainer: icrackiphone <customjblogos@gmail.com>
Architecture: iphoneos-arm
Description: This is a metallica logo theme for lockglyph, supports all devices with lockglyph and has most average colors. Just email or iMessage me requests at customjblogos@gmail.com.
Author: icrackiphone <customjblogos@gmail.com> 




