Package: com.icrackiphone.PanguappforTaiG
Name: Pangu app for TaiG
Version: 1.1
Section: Applications
Maintainer: customjblogos <customjblogos@gmail.com>
Architecture: iphoneos-arm
Description: This is the Pangu8 app for the TaiG jailbreak. It says TaiG under it and has a TaiG icon. Sorry the icon is a little fuzzy but it looks ok. All the functions are still present. Just email or iMessage me requests at customjblogos@gmail.com.
Author: icrackiphone <customjblogos@gmail.com>


