Package: com.icrackiphone.MetallicaRespringLogos
Name: Metallica Respring Logos
Version: 1.3
Section: Themes
Maintainer: icrackiphone <customjblogos@gmail.com>
Depends: winterboard
Architecture: iphoneos-arm
Description: Metallica Logos for respringing. includes black, blue, green, orange, pink, purple, red, white, and yellow logos. Just email or iMessage me requests at customjblogos@gmail.com.
Author: icrackiphone <customjblogos@gmail.com> 




